---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>OnTheFrog</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<style>
			body {
				background-color: orange;
			}
			header {
				position: relative;
				text-align: center;
			}
			h1, h2 {
				position: absolute;
				color: white;
				font-weight: bold;
			}
			h1 {
				top: 20%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 10em;
				font-family: 'Roboto', sans-serif;
			}
			h2 {
				top: 70%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 2em;
				font-family: 'Roboto', sans-serif;
			}
			h3 {
				text-align: center;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				padding-top: 20px;
				color: white;
			}
			.centered-text {
				text-align: center;
				margin-left: 10%;
				margin-right: 10%;
			}
			p {
				text-align: left;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				padding-top: 20px;
				color: white;
				display: inline-block;
			}
			nav {
				position: absolute;
				right: 10px;
				top: 10px;
			}
			nav select {
				background-color: white;
				border: none;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				padding: 5px;
				cursor: pointer;
			}
			@media screen and (max-width: 768px) {
				h1 {
					font-size: 2em;
				}
				h2 {
					font-size: 1.5em;
				}
			}
		</style>
	</head>


	<body>
		<header>
			<img src="/header-top.png" alt="Header Image" width="100%" height="auto">
			<h1>OnTheFrog</h1>
			<h2></h2>
			<nav>
				<select onchange="location = this.value;">
					<option value="#">Select a page</option>
					<option value="home.html">Home</option>
					<option value="about.html">About</option>
					<option value="contact.html">Contact</option>
				</select>
			</nav>
		</header>
		<h3>What is "OnTheFrog"?</h3>
		<main>
			<div class="centered-text">
				<p>
					OnTheFrog is an original character created by Kakedashi and is Creative Commons 0. This unique concept takes you on a journey into the fascinating world of frogs and their diverse habitats. Discover the beauty, diversity, and adaptability of frogs while experiencing the splendor of their natural environment. From the tree frogs of the lush rainforest to the hardscrabble desert species, "OnTheFrog" offers an in-depth exploration of an unforgettable amphibious world. Join us and embark on a journey of adventure!
				</p>
			</div>
		</main>
	</body>
</html>


