---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>OnTheFrog</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Ultra&display=swap" rel="stylesheet">
		<style>
			
			body {
				background-color: rgb(248, 183, 61);
			}
			header {
				position: relative;
				text-align: center;
			}
			h1, h2 {
				position: absolute;
				color: white;
				font-weight: bold;
			}
			h1 {
				top: 20%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 10em;
				font-family: 'Rubik Iso', cursive;
				font-family: 'Ultra', serif;
			}
			h2 {
				top: 70%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 2em;
				font-family: 'Roboto', sans-serif;
			}
			h3 {
				text-align: center;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				padding-top: 20px;
				color: white;
			}
			.centered-text {
				text-align: center;
				margin-left: 15%;
				margin-right: 15%;
			}
			p {
				text-align: left;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				padding-top: 20px;
				color: white;
				display: inline-block;
			}
			/* nav {
				position: absolute;
				right: 10px;
				top: 10px;
			}
			nav select {
				background-color: white;
				border-radius: 5px;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
				font-weight: bold;
				padding: 5px;
				cursor: pointer;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				transition: all 0.3s;
			}
			nav select:hover {
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
			} */
			@media screen and (max-width: 768px) {
				h1 {
					font-size: 3em;
				}
				h2 {
					font-size: 1.5em;
				}
			}
			.gallery {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				grid-auto-rows: auto;
				gap: 10px;
				margin: 20px;
				padding: 20px;
			}
			.gallery img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
			.download-btn {
				display: inline-block;
				margin: 20px auto;
				padding: 10px 20px;
				background-color: rgb(255, 255, 255);
				border: none;
				border-radius: 25px;
				color: rgb(255, 185, 116);
				text-decoration: none;
				font-weight: bold;
				text-align: center;
			}
			.button-container {
				text-align: center;
			}
			@media screen and (max-width: 768px) {
			.gallery {
				grid-template-columns: repeat(3, 1fr);
			}
			}
			/* 追加: プロフィール画像と説明文のスタイル */
			.profile-container {
				text-align: center;
				padding: 20px;
			}

			.profile-image {
				width: 150px;
				height: auto;
				border-radius: 50%;
				object-fit: cover;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}

			.profile-name {
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				color: white;
				margin-bottom: 10px;
			}

			.social-icons {
				display: flex;
				justify-content: center;
				margin-bottom: 20px;
			}

			.icon {
				width: 30px;
				height: auto;
				margin-left: 5px;
				margin-right: 5px;
			}

			.profile-text {
				text-align: center;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				padding-top: 5px;
				color: white;
				display: block;
				max-width: 60%;
				margin-left: auto;
				margin-right: auto;
			}

		</style>
	</head>


	<body>
		<header>
			<img src="/header-top.png" alt="Header Image" width="100%" height="auto">
			<h1>OnTheFrog</h1>
			<h2></h2>
			<!-- <nav>
				<select onchange="location = this.value;">
					<option value="#">Select a page</option>
					<option value="home.html">Home</option>
					<option value="about.html">About</option>
					<option value="contact.html">Contact</option>
				</select>
			</nav> -->
		</header>
		<h3>What is "OnTheFrog"?</h3>
		<main>
			<div class="centered-text">
				<p>
					OnTheFrog is an original character created by Kakedashi and is Creative Commons 0. This unique concept takes you on a journey into the fascinating world of frogs and their diverse habitats. Discover the beauty, diversity, and adaptability of frogs while experiencing the splendor of their natural environment. From the tree frogs of the lush rainforest to the hardscrabble desert species, "OnTheFrog" offers an in-depth exploration of an unforgettable amphibious world. Join us and embark on a journey of adventure!
				</p>
			</div>
		</main>
		<div class="gallery">
		<!-- 画像を30枚(5x6)配置する -->
		<!-- 画像のURLを適切なものに置き換えてください -->
		<img src="/1.PNG" alt="1">
		<img src="/2.PNG" alt="2">
		<img src="/3.PNG" alt="3">
		<img src="/4.PNG" alt="4">
		<img src="/5.PNG" alt="5">
		<img src="/6.PNG" alt="6">
		<img src="/7.PNG" alt="7">
		<img src="/8.PNG" alt="8">
		<img src="/9.PNG" alt="9">
		<img src="/10.PNG" alt="10">
		<img src="/11.PNG" alt="11">
		<img src="/12.PNG" alt="12">
		<img src="/13.PNG" alt="13">
		<img src="/14.PNG" alt="14">
		<img src="/15.PNG" alt="15">
		<img src="/16.PNG" alt="16">
		<img src="/17.PNG" alt="17">
		<img src="/18.PNG" alt="18">
		<img src="/19.PNG" alt="19">
		<img src="/20.PNG" alt="20">
		<img src="/21.PNG" alt="21">
		<img src="/22.PNG" alt="22">
		<img src="/23.PNG" alt="23">
		<img src="/24.PNG" alt="24">
		<img src="/25.PNG" alt="25">
		<img src="/26.PNG" alt="26">
		<img src="/27.PNG" alt="27">
		<img src="/28.PNG" alt="28">
		<img src="/29.PNG" alt="29">
		<img src="/30.PNG" alt="30">

		<!-- 画像を繰り返し配置 -->
		</div>
		
		<div class="button-container">
		<a href="https://github.com/kakedashi3/onthefrog-lp/raw/main/public/OnTheFrog.zip" download="All_Images.zip" class="download-btn">Download All Images</a>
		</div>
		
		<h3>Why CC0?</h3>
		<div class="centered-text">
			<p>
				CC0 (Creative Commons Zero) is a licence that allows creators to give away as little of their copyright and related rights as possible, keeping their work as close to the public domain as possible. There are several reasons to choose this licence.<br><br>
				First, choosing CC0 minimises restrictions on the rights of those who wish to use the work. This allows anyone to freely copy, modify, distribute, perform and display the work, which facilitates the sharing of knowledge and information and encourages innovation.<br><br>
				Secondly, the CC0 licence is internationally applicable, minimising legal issues when people from all over the world use the work. Because copyright laws vary from country to country, other licences can cause legal problems for users, whereas CC0 reduces this risk.<br><br>
				Choosing CC0 also simplifies the administration of the use of the work and reduces the burden on copyright holders. Copyright holders do not need to receive permission requests or reports from users, saving them time and effort in managing their works.<br><br>
				Finally, choosing CC0 contributes to the spirit of open source and open data. By sharing knowledge and information freely, people can learn from and collaborate with each other, opening up the possibility of creating a better future.<br><br>
				For these reasons, choosing CC0 will promote the free flow of knowledge and information, minimise legal issues, reduce the burden on copyright holders, and contribute to an open world.<br><br>
			</p>
		</div>
		<!-- 追加: プロフィール画像と説明文 -->
		<div class="profile-container">
			<img src="kakedashi.jpg" alt="Profile Image" class="profile-image">
			<h3 class="profile-name">Kakedashi</h3> <!-- 追加: 名前 -->
			<div class="social-icons"> <!-- 追加: ソーシャルアイコンリンク -->
			<a href="https://twitter.com/kakedashi_tarou" target="_blank">
				<img src="/twitter-logo.png" alt="Twitter Icon" class="icon">
			</a>
			<a href="https://kakedashi.substack.com//" target="_blank">
				<img src="/substack-logo.png" alt="Substack Icon" class="icon">
			</a>
			</div>
			<p class="profile-text">Kakedashi is a digital artist and illustrator who specializes in creating unique and captivating characters. With a passion for art and nature, Kakedashi combines these interests to bring the world of "OnTheFrog" to life, showcasing the beauty and diversity of frogs in their natural habitats.</p>
		</div>
  
		  
	</body>

</html>


